<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<tns:database xmlns:tns="http://www.iw.com/sns/platform/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 <Group id="springbuilding_type">
    <ItemSpec id="1" buildingName="110261000" buildingRank="1" buildingRes="spring_center" buildingIcon="Jdzy_Icon_spring_center" city_size="3" scale="1" offsetX="-10" offsetY="0" city_NPC="43515;43515" city_baseNPC="43515" hp="1000" occupyProgressTimeInSec="120" defCountMax="50" addForceScorePerFrame="350" addPersonalScorePerframe="60" frameTimeInSec="10" firstControlAddForceScore="7000" firstControlAddPersonalScore="700" />
    <ItemSpec id="2" buildingName="110261001" buildingRank="1" buildingRes="spring_center" buildingIcon="Jdzy_Icon_spring_center" city_size="3" scale="1" offsetX="-10" offsetY="0" city_NPC="43515;43515" city_baseNPC="43515" hp="1000" occupyProgressTimeInSec="120" defCountMax="50" addForceScorePerFrame="350" addPersonalScorePerframe="60" frameTimeInSec="10" firstControlAddForceScore="7000" firstControlAddPersonalScore="700" />
    <ItemSpec id="3" buildingName="110261002" buildingRank="1" buildingRes="spring_center" buildingIcon="Jdzy_Icon_spring_center" city_size="3" scale="1" offsetX="-10" offsetY="0" city_NPC="43515;43515" city_baseNPC="43515" hp="1000" occupyProgressTimeInSec="120" defCountMax="50" addForceScorePerFrame="350" addPersonalScorePerframe="60" frameTimeInSec="10" firstControlAddForceScore="7000" firstControlAddPersonalScore="700" />
    <ItemSpec id="4" buildingName="110261003" buildingRank="1" buildingRes="spring_center" buildingIcon="Jdzy_Icon_spring_center" city_size="3" scale="1" offsetX="-10" offsetY="0" city_NPC="43515;43515" city_baseNPC="43515" hp="1000" occupyProgressTimeInSec="120" defCountMax="50" addForceScorePerFrame="350" addPersonalScorePerframe="60" frameTimeInSec="10" firstControlAddForceScore="7000" firstControlAddPersonalScore="700" />
    <ItemSpec id="5" buildingName="110261004" buildingRank="2" buildingRes="pic600005_2_free" buildingIcon="pic600005_2_free" city_size="2" scale="1.5" offsetX="0" offsetY="30" city_NPC="43515;43515" city_baseNPC="43515" hp="500" occupyProgressTimeInSec="60" defCountMax="50" addForceScorePerFrame="350" addPersonalScorePerframe="60" frameTimeInSec="10" firstControlAddForceScore="7000" firstControlAddPersonalScore="700" />
    <ItemSpec id="6" buildingName="110261005" buildingRank="3" buildingRes="spring_shouhu1" buildingIcon="Jdzy_Icon_spring_shouhu1" city_size="2" scale="0.8" offsetX="-45" offsetY="30" city_NPC="43515;43515" city_baseNPC="43515" hp="400" occupyProgressTimeInSec="60" defCountMax="20" addForceScorePerFrame="50" addPersonalScorePerframe="10" frameTimeInSec="10" firstControlAddForceScore="1000" firstControlAddPersonalScore="100" />
    <ItemSpec id="7" buildingName="110261006" buildingRank="4" buildingRes="spring_shouhu2" buildingIcon="Jdzy_Icon_spring_shouhu2" city_size="2" scale="0.8" offsetX="-40" offsetY="30" city_NPC="43515;43515" city_baseNPC="43515" hp="300" occupyProgressTimeInSec="40" defCountMax="10" addForceScorePerFrame="15" addPersonalScorePerframe="3" frameTimeInSec="10" firstControlAddForceScore="300" firstControlAddPersonalScore="30" />
    <ItemSpec id="8" buildingName="110261007" buildingRank="5" buildingRes="spring_shouhu3" buildingIcon="Jdzy_Icon_spring_shouhu3" city_size="1" scale="0.6" offsetX="-35" offsetY="5" city_NPC="43515;43515" city_baseNPC="43515" hp="200" occupyProgressTimeInSec="20" defCountMax="5" addForceScorePerFrame="10" addPersonalScorePerframe="2" frameTimeInSec="10" firstControlAddForceScore="200" firstControlAddPersonalScore="20" />
    <ItemSpec id="9" buildingName="110261008" buildingRank="6" buildingRes="spring_shouhu4" buildingIcon="Jdzy_Icon_spring_shouhu4" city_size="1" scale="1" offsetX="-10" offsetY="0" city_NPC="43515;43515" city_baseNPC="43515" hp="100" occupyProgressTimeInSec="10" defCountMax="1" addForceScorePerFrame="2" addPersonalScorePerframe="1" frameTimeInSec="5" firstControlAddForceScore="100" firstControlAddPersonalScore="10" />

 </Group >
 
</tns:database>