<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<tns:database xmlns:tns="http://www.iw.com/sns/platform/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 <Group id="springbuilding_instance">
    <ItemSpec id="1001" level="2" x="358" y="600" buildingTypeId="1" areaname="110261000" />
    <ItemSpec id="1011" level="2" x="354" y="596" buildingTypeId="6" areaname="110261000" />
    <ItemSpec id="1012" level="2" x="354" y="600" buildingTypeId="6" areaname="110261000" />
    <ItemSpec id="1013" level="2" x="362" y="596" buildingTypeId="6" areaname="110261000" />
    <ItemSpec id="1014" level="2" x="362" y="600" buildingTypeId="6" areaname="110261000" />
    <ItemSpec id="1021" level="2" x="358" y="596" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1022" level="2" x="356" y="592" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1023" level="2" x="356" y="604" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1024" level="2" x="356" y="608" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1025" level="2" x="360" y="596" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1026" level="2" x="360" y="592" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1027" level="2" x="364" y="608" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1028" level="2" x="360" y="608" buildingTypeId="7" areaname="110261000" />
    <ItemSpec id="1031" level="2" x="350" y="600" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1032" level="2" x="350" y="597" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1033" level="2" x="350" y="594" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1034" level="2" x="350" y="603" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1035" level="2" x="350" y="606" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1036" level="2" x="366" y="600" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1037" level="2" x="366" y="597" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1038" level="2" x="366" y="594" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1039" level="2" x="366" y="603" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1040" level="2" x="366" y="606" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1041" level="2" x="358" y="587" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1042" level="2" x="356" y="589" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1043" level="2" x="353" y="591" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1044" level="2" x="360" y="589" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1045" level="2" x="363" y="591" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1046" level="2" x="358" y="615" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1047" level="2" x="356" y="613" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1048" level="2" x="353" y="611" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1049" level="2" x="360" y="613" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1050" level="2" x="363" y="611" buildingTypeId="8" areaname="110261000" />
    <ItemSpec id="1051" level="2" x="348" y="614" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1052" level="2" x="348" y="611" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1053" level="2" x="348" y="608" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1054" level="2" x="348" y="605" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1055" level="2" x="348" y="602" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1056" level="2" x="348" y="599" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1057" level="2" x="348" y="596" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1058" level="2" x="348" y="593" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1059" level="2" x="348" y="590" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1060" level="2" x="348" y="587" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1061" level="2" x="345" y="614" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1062" level="2" x="345" y="611" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1063" level="2" x="345" y="608" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1064" level="2" x="345" y="605" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1065" level="2" x="345" y="602" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1066" level="2" x="345" y="599" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1067" level="2" x="345" y="596" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1068" level="2" x="345" y="593" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1069" level="2" x="345" y="590" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1070" level="2" x="345" y="587" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1071" level="2" x="368" y="614" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1072" level="2" x="368" y="611" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1073" level="2" x="368" y="608" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1074" level="2" x="368" y="605" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1075" level="2" x="368" y="602" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1076" level="2" x="368" y="599" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1077" level="2" x="368" y="596" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1078" level="2" x="368" y="593" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1079" level="2" x="368" y="590" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1080" level="2" x="368" y="587" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1081" level="2" x="371" y="614" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1082" level="2" x="371" y="611" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1083" level="2" x="371" y="608" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1084" level="2" x="371" y="605" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1085" level="2" x="371" y="602" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1086" level="2" x="371" y="599" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1087" level="2" x="371" y="596" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1088" level="2" x="371" y="593" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1089" level="2" x="371" y="590" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1090" level="2" x="371" y="587" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1091" level="2" x="350" y="616" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1092" level="2" x="354" y="617" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1093" level="2" x="358" y="618" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1094" level="2" x="362" y="617" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1095" level="2" x="366" y="616" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1096" level="2" x="350" y="584" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1097" level="2" x="354" y="584" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1098" level="2" x="358" y="585" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1099" level="2" x="362" y="584" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1100" level="2" x="366" y="584" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1101" level="2" x="342" y="610" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1102" level="2" x="342" y="607" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1103" level="2" x="342" y="604" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1104" level="2" x="342" y="601" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1105" level="2" x="342" y="598" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1106" level="2" x="342" y="595" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1107" level="2" x="342" y="592" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1108" level="2" x="342" y="589" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1109" level="2" x="342" y="586" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1110" level="2" x="342" y="583" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1111" level="2" x="374" y="610" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1112" level="2" x="374" y="607" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1113" level="2" x="374" y="604" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1114" level="2" x="374" y="601" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1115" level="2" x="374" y="598" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1116" level="2" x="374" y="595" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1117" level="2" x="374" y="592" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1118" level="2" x="374" y="589" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1119" level="2" x="374" y="586" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="1120" level="2" x="374" y="583" buildingTypeId="9" areaname="110261000" />
    <ItemSpec id="2001" level="2" x="596" y="747" buildingTypeId="2" areaname="110261001" />
    <ItemSpec id="2011" level="2" x="592" y="743" buildingTypeId="6" areaname="110261001" />
    <ItemSpec id="2012" level="2" x="592" y="747" buildingTypeId="6" areaname="110261001" />
    <ItemSpec id="2013" level="2" x="600" y="743" buildingTypeId="6" areaname="110261001" />
    <ItemSpec id="2014" level="2" x="600" y="747" buildingTypeId="6" areaname="110261001" />
    <ItemSpec id="2021" level="2" x="596" y="743" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2022" level="2" x="594" y="739" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2023" level="2" x="594" y="751" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2024" level="2" x="594" y="755" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2025" level="2" x="598" y="743" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2026" level="2" x="598" y="739" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2027" level="2" x="602" y="755" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2028" level="2" x="598" y="755" buildingTypeId="7" areaname="110261001" />
    <ItemSpec id="2031" level="2" x="588" y="747" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2032" level="2" x="588" y="744" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2033" level="2" x="588" y="741" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2034" level="2" x="588" y="750" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2035" level="2" x="588" y="753" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2036" level="2" x="604" y="747" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2037" level="2" x="604" y="744" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2038" level="2" x="604" y="741" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2039" level="2" x="604" y="750" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2040" level="2" x="604" y="753" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2041" level="2" x="596" y="734" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2042" level="2" x="594" y="736" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2043" level="2" x="591" y="738" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2044" level="2" x="598" y="736" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2045" level="2" x="601" y="738" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2046" level="2" x="596" y="762" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2047" level="2" x="594" y="760" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2048" level="2" x="591" y="758" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2049" level="2" x="598" y="760" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2050" level="2" x="601" y="758" buildingTypeId="8" areaname="110261001" />
    <ItemSpec id="2051" level="2" x="586" y="761" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2052" level="2" x="586" y="758" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2053" level="2" x="586" y="755" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2054" level="2" x="586" y="752" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2055" level="2" x="586" y="749" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2056" level="2" x="586" y="746" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2057" level="2" x="586" y="743" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2058" level="2" x="586" y="740" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2059" level="2" x="586" y="737" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2060" level="2" x="586" y="734" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2061" level="2" x="583" y="761" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2062" level="2" x="583" y="758" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2063" level="2" x="583" y="755" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2064" level="2" x="583" y="752" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2065" level="2" x="583" y="749" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2066" level="2" x="583" y="746" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2067" level="2" x="583" y="743" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2068" level="2" x="583" y="740" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2069" level="2" x="583" y="737" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2070" level="2" x="583" y="734" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2071" level="2" x="606" y="761" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2072" level="2" x="606" y="758" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2073" level="2" x="606" y="755" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2074" level="2" x="606" y="752" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2075" level="2" x="606" y="749" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2076" level="2" x="606" y="746" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2077" level="2" x="606" y="743" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2078" level="2" x="606" y="740" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2079" level="2" x="606" y="737" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2080" level="2" x="606" y="734" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2081" level="2" x="609" y="761" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2082" level="2" x="609" y="758" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2083" level="2" x="609" y="755" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2084" level="2" x="609" y="752" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2085" level="2" x="609" y="749" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2086" level="2" x="609" y="746" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2087" level="2" x="609" y="743" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2088" level="2" x="609" y="740" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2089" level="2" x="609" y="737" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2090" level="2" x="609" y="734" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2091" level="2" x="588" y="763" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2092" level="2" x="592" y="764" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2093" level="2" x="596" y="765" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2094" level="2" x="600" y="764" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2095" level="2" x="604" y="763" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2096" level="2" x="588" y="731" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2097" level="2" x="592" y="731" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2098" level="2" x="596" y="732" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2099" level="2" x="600" y="731" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2100" level="2" x="604" y="731" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2101" level="2" x="580" y="757" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2102" level="2" x="580" y="754" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2103" level="2" x="580" y="751" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2104" level="2" x="580" y="748" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2105" level="2" x="580" y="745" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2106" level="2" x="580" y="742" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2107" level="2" x="580" y="739" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2108" level="2" x="580" y="736" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2109" level="2" x="580" y="733" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2110" level="2" x="580" y="730" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2111" level="2" x="612" y="757" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2112" level="2" x="612" y="754" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2113" level="2" x="612" y="751" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2114" level="2" x="612" y="748" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2115" level="2" x="612" y="745" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2116" level="2" x="612" y="742" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2117" level="2" x="612" y="739" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2118" level="2" x="612" y="736" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2119" level="2" x="612" y="733" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="2120" level="2" x="612" y="730" buildingTypeId="9" areaname="110261001" />
    <ItemSpec id="3001" level="2" x="603" y="420" buildingTypeId="3" areaname="110261002" />
    <ItemSpec id="3011" level="2" x="599" y="416" buildingTypeId="6" areaname="110261002" />
    <ItemSpec id="3012" level="2" x="599" y="420" buildingTypeId="6" areaname="110261002" />
    <ItemSpec id="3013" level="2" x="607" y="416" buildingTypeId="6" areaname="110261002" />
    <ItemSpec id="3014" level="2" x="607" y="420" buildingTypeId="6" areaname="110261002" />
    <ItemSpec id="3021" level="2" x="603" y="416" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3022" level="2" x="601" y="412" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3023" level="2" x="601" y="424" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3024" level="2" x="601" y="428" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3025" level="2" x="605" y="416" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3026" level="2" x="605" y="412" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3027" level="2" x="609" y="428" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3028" level="2" x="605" y="428" buildingTypeId="7" areaname="110261002" />
    <ItemSpec id="3031" level="2" x="595" y="420" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3032" level="2" x="595" y="417" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3033" level="2" x="595" y="414" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3034" level="2" x="595" y="423" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3035" level="2" x="595" y="426" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3036" level="2" x="611" y="420" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3037" level="2" x="611" y="417" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3038" level="2" x="611" y="414" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3039" level="2" x="611" y="423" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3040" level="2" x="611" y="426" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3041" level="2" x="603" y="407" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3042" level="2" x="601" y="409" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3043" level="2" x="598" y="411" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3044" level="2" x="605" y="409" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3045" level="2" x="608" y="411" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3046" level="2" x="603" y="435" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3047" level="2" x="601" y="433" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3048" level="2" x="598" y="431" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3049" level="2" x="605" y="433" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3050" level="2" x="608" y="431" buildingTypeId="8" areaname="110261002" />
    <ItemSpec id="3051" level="2" x="593" y="434" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3052" level="2" x="593" y="431" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3053" level="2" x="593" y="428" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3054" level="2" x="593" y="425" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3055" level="2" x="593" y="422" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3056" level="2" x="593" y="419" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3057" level="2" x="593" y="416" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3058" level="2" x="593" y="413" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3059" level="2" x="593" y="410" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3060" level="2" x="593" y="407" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3061" level="2" x="590" y="434" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3062" level="2" x="590" y="431" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3063" level="2" x="590" y="428" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3064" level="2" x="590" y="425" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3065" level="2" x="590" y="422" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3066" level="2" x="590" y="419" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3067" level="2" x="590" y="416" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3068" level="2" x="590" y="413" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3069" level="2" x="590" y="410" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3070" level="2" x="590" y="407" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3071" level="2" x="613" y="434" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3072" level="2" x="613" y="431" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3073" level="2" x="613" y="428" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3074" level="2" x="613" y="425" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3075" level="2" x="613" y="422" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3076" level="2" x="613" y="419" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3077" level="2" x="613" y="416" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3078" level="2" x="613" y="413" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3079" level="2" x="613" y="410" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3080" level="2" x="613" y="407" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3081" level="2" x="616" y="434" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3082" level="2" x="616" y="431" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3083" level="2" x="616" y="428" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3084" level="2" x="616" y="425" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3085" level="2" x="616" y="422" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3086" level="2" x="616" y="419" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3087" level="2" x="616" y="416" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3088" level="2" x="616" y="413" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3089" level="2" x="616" y="410" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3090" level="2" x="616" y="407" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3091" level="2" x="595" y="436" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3092" level="2" x="599" y="437" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3093" level="2" x="603" y="438" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3094" level="2" x="607" y="437" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3095" level="2" x="611" y="436" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3096" level="2" x="595" y="404" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3097" level="2" x="599" y="404" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3098" level="2" x="603" y="405" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3099" level="2" x="607" y="404" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3100" level="2" x="611" y="404" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3101" level="2" x="587" y="430" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3102" level="2" x="587" y="427" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3103" level="2" x="587" y="424" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3104" level="2" x="587" y="421" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3105" level="2" x="587" y="418" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3106" level="2" x="587" y="415" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3107" level="2" x="587" y="412" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3108" level="2" x="587" y="409" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3109" level="2" x="587" y="406" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3110" level="2" x="587" y="403" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3111" level="2" x="619" y="430" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3112" level="2" x="619" y="427" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3113" level="2" x="619" y="424" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3114" level="2" x="619" y="421" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3115" level="2" x="619" y="418" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3116" level="2" x="619" y="415" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3117" level="2" x="619" y="412" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3118" level="2" x="619" y="409" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3119" level="2" x="619" y="406" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="3120" level="2" x="619" y="403" buildingTypeId="9" areaname="110261002" />
    <ItemSpec id="4001" level="2" x="828" y="608" buildingTypeId="4" areaname="110261003" />
    <ItemSpec id="4011" level="2" x="824" y="604" buildingTypeId="6" areaname="110261003" />
    <ItemSpec id="4012" level="2" x="824" y="608" buildingTypeId="6" areaname="110261003" />
    <ItemSpec id="4013" level="2" x="832" y="604" buildingTypeId="6" areaname="110261003" />
    <ItemSpec id="4014" level="2" x="832" y="608" buildingTypeId="6" areaname="110261003" />
    <ItemSpec id="4021" level="2" x="828" y="604" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4022" level="2" x="826" y="600" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4023" level="2" x="826" y="612" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4024" level="2" x="826" y="616" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4025" level="2" x="830" y="604" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4026" level="2" x="830" y="600" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4027" level="2" x="834" y="616" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4028" level="2" x="830" y="616" buildingTypeId="7" areaname="110261003" />
    <ItemSpec id="4031" level="2" x="820" y="608" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4032" level="2" x="820" y="605" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4033" level="2" x="820" y="602" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4034" level="2" x="820" y="611" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4035" level="2" x="820" y="614" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4036" level="2" x="836" y="608" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4037" level="2" x="836" y="605" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4038" level="2" x="836" y="602" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4039" level="2" x="836" y="611" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4040" level="2" x="836" y="614" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4041" level="2" x="828" y="595" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4042" level="2" x="826" y="597" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4043" level="2" x="823" y="599" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4044" level="2" x="830" y="597" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4045" level="2" x="833" y="599" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4046" level="2" x="828" y="623" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4047" level="2" x="826" y="621" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4048" level="2" x="823" y="619" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4049" level="2" x="830" y="621" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4050" level="2" x="833" y="619" buildingTypeId="8" areaname="110261003" />
    <ItemSpec id="4051" level="2" x="818" y="622" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4052" level="2" x="818" y="619" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4053" level="2" x="818" y="616" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4054" level="2" x="818" y="613" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4055" level="2" x="818" y="610" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4056" level="2" x="818" y="607" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4057" level="2" x="818" y="604" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4058" level="2" x="818" y="601" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4059" level="2" x="818" y="598" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4060" level="2" x="818" y="595" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4061" level="2" x="815" y="622" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4062" level="2" x="815" y="619" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4063" level="2" x="815" y="616" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4064" level="2" x="815" y="613" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4065" level="2" x="815" y="610" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4066" level="2" x="815" y="607" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4067" level="2" x="815" y="604" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4068" level="2" x="815" y="601" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4069" level="2" x="815" y="598" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4070" level="2" x="815" y="595" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4071" level="2" x="838" y="622" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4072" level="2" x="838" y="619" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4073" level="2" x="838" y="616" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4074" level="2" x="838" y="613" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4075" level="2" x="838" y="610" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4076" level="2" x="838" y="607" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4077" level="2" x="838" y="604" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4078" level="2" x="838" y="601" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4079" level="2" x="838" y="598" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4080" level="2" x="838" y="595" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4081" level="2" x="841" y="622" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4082" level="2" x="841" y="619" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4083" level="2" x="841" y="616" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4084" level="2" x="841" y="613" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4085" level="2" x="841" y="610" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4086" level="2" x="841" y="607" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4087" level="2" x="841" y="604" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4088" level="2" x="841" y="601" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4089" level="2" x="841" y="598" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4090" level="2" x="841" y="595" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4091" level="2" x="820" y="624" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4092" level="2" x="824" y="625" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4093" level="2" x="828" y="626" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4094" level="2" x="832" y="625" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4095" level="2" x="836" y="624" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4096" level="2" x="820" y="592" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4097" level="2" x="824" y="592" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4098" level="2" x="828" y="593" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4099" level="2" x="832" y="592" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4100" level="2" x="836" y="592" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4101" level="2" x="812" y="618" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4102" level="2" x="812" y="615" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4103" level="2" x="812" y="612" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4104" level="2" x="812" y="609" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4105" level="2" x="812" y="606" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4106" level="2" x="812" y="603" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4107" level="2" x="812" y="600" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4108" level="2" x="812" y="597" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4109" level="2" x="812" y="594" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4110" level="2" x="812" y="591" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4111" level="2" x="844" y="618" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4112" level="2" x="844" y="615" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4113" level="2" x="844" y="612" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4114" level="2" x="844" y="609" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4115" level="2" x="844" y="606" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4116" level="2" x="844" y="603" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4117" level="2" x="844" y="600" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4118" level="2" x="844" y="597" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4119" level="2" x="844" y="594" buildingTypeId="9" areaname="110261003" />
    <ItemSpec id="4120" level="2" x="844" y="591" buildingTypeId="9" areaname="110261003" />

 </Group >
 
</tns:database>